@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* navbar */
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #172B74;
    position: fixed;
    top:0;
    width: 100%;
}

.logo{
    object-fit: cover;
    height: 100px;
    width: 400px;
}

.nav .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.nav__links {
    list-style: none;
    background-color: #172B74;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #172B74;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #172B74;
}

.nav__links li a:hover {
    color: #243ce6;
}


.cta button {
    padding: 15px 25px;
    background-color: #172b74;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Carter-One", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.cta button:hover {
    background-color: #243ce6;
}

h1{
    font-family: "Carter One";
    font-weight: 400px;
    font-size: 100px;
    color: #243ce6;
    border: none;
    text-align: center;
    text-decoration: none;
}

body{
    background: url('img/front_page_final.png') no-repeat;
    background-size: cover;
    height: 100vh;
}

h2{
    font-family: "Carter One";
    font-weight: 400px;
    color: #243ce6;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;    
    line-height: 90px; 
    margin: 250px 0 0 0;
}

/*footer*/
.footerBottom {
    text-align: center;
    padding: 10px ;
    background-color: #172B74;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerBottom p{
    color: white;
}

/*scroll to sections*/
.sections {
    display: flex;
    flex-direction: column;
    align-items: center;

}

html{
    scroll-behavior: smooth;
}

#id1{
    height: 110vh;
}

#id2{
    height: 100vh;
}

#id3{
    height: 100vh;
}

#id4{
    height: 100vh;
}

/*responsive design*/
@media(max-width: 992px) {
    .nav .nav__link__2{
        display: none;
    }

    .nav .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}

/* dropdown menu */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 90px;
    height: 0;
    width: 200px;
    background-color: #172B74;
    border-radius: 9px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 170px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    transition: all 0.3s ease 0s;
    background-color: #172B74;
}

.dropdown_menu li a:hover {
    color: #243ce6;
}
