@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* index */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

button {
    font-family: "Carter-One", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #172B74;

}

.logo{
    object-fit: cover;
    height: 100px;
    width: 400px;
}


.nav__links {
    list-style: none;
    background-color: #172B74;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #172B74;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #172B74;
}

.nav__links li a:hover {
    color: #243ce6;
}

button {
    padding: 15px 25px;
    background-color: #172b74;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #243ce6;
}

.cta {
  margin: 0;
  position: absolute;
  top: 64%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{
    font-family: "Carter One";
    font-weight: 400px;
    font-size: 100px;
    height: 279px;
    color: #243ce6;
    line-height: 400px;
    border: none;
    text-align: center;
    text-decoration: none;
}

body{
    background: url('front_page.png') no-repeat;
    background-size: cover;
    height: 100vh;
}

h2{
    font-family: "Carter One";
    font-weight: 400px;
    color: #243ce6;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    line-height: 1px;
}
